#map {
    height: 40rem;
    margin-bottom: 7rem;
}

.location {
    &__map {
        flex: 0 0 60%;
    }
    &__times {
        flex: 0 0 40%;
        text-align: left;
    }
    &__days {
        font-size: 2.5rem;
        margin-left: 7rem;
        padding-top: 3rem;
    }
    &__hours {
        list-style: none;
        line-height: 5rem;
        font-weight: 700;
        color: $color-gray-dark-3;
        span {
            color: $color-primary;
        }
    }
}

#heading-location {
    font-size: 3rem;
}