.about {
    padding: 2rem;
    display: flex;
    align-items: center;
    @include respond(tab-port) {
        display: inline;
    }
}

.text {
    flex: 0 0 40%;
    @include respond(tab-port) {
        padding: 2rem;
        margin-bottom: 6rem;
    }
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}