.treatments {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(phone) {
        display: inline;
        margin: 2rem;
    }
}

.card {
    // functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 52rem;
    flex: 1;
    margin: 0 1.5rem;
    //
    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: $border-Radius-small;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);
        //
        &--back {
            transform: rotateY(180deg);
            &-1 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
        }
    }
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    //
    &:hover &__side--back {
        transform: rotateY(0);
    }
    // front side styling
    &__picture {
        background-size: cover;
        background-position: center;
        height: 100%;
        background-blend-mode: screen;
        border-top-right-radius: $border-Radius-small;
        border-top-left-radius: $border-Radius-small;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        filter: brightness(90%);
        &--1 {
            background-image: linear-gradient(to right bottom, $color-black, $color-black), url(../img/treat2.jpg);
        }
        &--2 {
            background-image: linear-gradient(to right bottom, $color-black, $color-black), url(../img/treat3.jpg);
        }
        &--3 {
            background-image: linear-gradient(to right bottom, $color-black, $color-black), url(../img/treat1.jpg);
        }
    }
    &__heading {
        font-size: 2.8rem;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        flex-direction: column;
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85), rgba($color-primary-dark, .85));
    }
    &__information {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    &__para {
        color: $color-gray-light-1;
        line-height: 2;
        font-size: 1.7rem;
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
    @media only screen and (max-width: 56.25em),
    only screen and (hover:none) {
        height: auto;
        border-radius: .3rem;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        margin-bottom: 5rem;
        //
        &__side {
            position: relative;
            box-shadow: none;
            //
            &--back {
                transform: rotateY(0);
            }
        }
        &:hover &__side--front {
            transform: rotateY(0);
        }
        &__details {
            padding: 1 3rem;
        }
        // back side styling
        &__box {
            position: relative;
            top: -3rem;
            left: 0;
            transform: translate(0);
            width: 100%;
        }
        &__para {
            font-size: $default-font-size;
        }
    }
}